$font:  'Open Sans', sans-serif;


$primary-color: #1f1f26;
$secondary-color: #dd4a33;
$alert-color: #c60f13;
$success-color: #5da423;

$bg-color: #d9deed;


$small-screen: 768px;
$medium-screen: 1280px;
$large-screen: 1440px;




